<B><font size="4"><div style="text-align:center">Peer-graded Assignment: Segmenting and Clustering Neighborhoods in Toronto<h5></b>

In [2]:
import random # library for random number generation
import numpy as np # library for vectorized computation
import pandas as pd # library to process data as dataframes

import matplotlib.pyplot as plt # plotting library
# backend for rendering plots within the browser
%matplotlib inline 

from sklearn.cluster import KMeans 
from sklearn.datasets.samples_generator import make_blobs

print('Libraries imported.')

Libraries imported.

In [3]:
!pip install lxml
!pip install html5lib
!pip install BeautifulSoup4

Collecting lxml
  Downloading https://files.pythonhosted.org/packages/ec/be/5ab8abdd8663c0386ec2dd595a5bc0e23330a0549b8a91e32f38c20845b6/lxml-4.4.1-cp36-cp36m-manylinux1_x86_64.whl (5.8MB)
     |████████████████████████████████| 5.8MB 3.1MB/s eta 0:00:01
Installing collected packages: lxml
Successfully installed lxml-4.4.1
Requirement already satisfied: html5lib in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (0.9999999)
Requirement already satisfied: six in /home/jupyterlab/conda/envs/python/lib/python3.6/site-packages (from html5lib) (1.12.0)
Collecting BeautifulSoup4
  Downloading https://files.pythonhosted.org/packages/1a/b7/34eec2fe5a49718944e215fde81288eec1fa04638aa3fb57c1c6cd0f98c3/beautifulsoup4-4.8.0-py3-none-any.whl (97kB)
     |████████████████████████████████| 102kB 2.8MB/s ta 0:00:011
Collecting soupsieve>=1.2 (from BeautifulSoup4)
  Downloading https://files.pythonhosted.org/packages/0b/44/0474f2207fdd601bb25787671c81076333d2c80e6f97e92790f8887cf682/soupsieve-1.9.3-py2.py3-none-any.whl
Installing collected packages: soupsieve, BeautifulSoup4
Successfully installed BeautifulSoup4-4.8.0 soupsieve-1.9.3

<b>Use the Notebook to build the code to scrape the following Wikipedia page, 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M', in order to obtain the data that is in the table of postal codes and to transform the data into a pandas dataframe like the one shown below</b>

In [22]:
#!conda install -c conda-forge lxml --yes
#!conda install -c conda-forge BeautifulSoup4 --yes
#!conda install -c conda-forge html5lib --yes
import html5lib
import lxml 

toronto_neighbourhoods_df = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M',header=0)[0]
toronto_neighbourhoods_df.head()
# jan_march = toronto_neigh_df[3].iloc[:]

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

<B>Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.<b>

In [28]:
T_neigh_df_clean = toronto_neighbourhoods_df.set_index("Borough")
T_neigh_df_clean.drop("Not assigned", axis = 0,inplace=True)
T_neigh_df_clean.reset_index(inplace=True)
T_neigh_df_clean

              Borough Postcode             Neighbourhood
0          North York      M3A                 Parkwoods
1          North York      M4A          Victoria Village
2    Downtown Toronto      M5A              Harbourfront
3    Downtown Toronto      M5A               Regent Park
4          North York      M6A          Lawrence Heights
..                ...      ...                       ...
206         Etobicoke      M8Z  Kingsway Park South West
207         Etobicoke      M8Z                 Mimico NW
208         Etobicoke      M8Z        The Queensway West
209         Etobicoke      M8Z     Royal York South West
210         Etobicoke      M8Z            South of Bloor

[211 rows x 3 columns]

<B>If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.<B>

In [29]:
T_neigh_df_clean.loc[T_neigh_df_clean['Neighbourhood'] == 'Not assigned','Neighbourhood'] = np.nan
T_neigh_df_clean[T_neigh_df_clean["Neighbourhood"] == "Not assigned"]
T_neigh_df_clean["Neighbourhood"] = T_neigh_df_clean["Neighbourhood"].fillna(T_neigh_df_clean["Borough"])

In [30]:
T_neigh_df_clean.head(10)

            Borough Postcode     Neighbourhood
0        North York      M3A         Parkwoods
1        North York      M4A  Victoria Village
2  Downtown Toronto      M5A      Harbourfront
3  Downtown Toronto      M5A       Regent Park
4        North York      M6A  Lawrence Heights
5        North York      M6A    Lawrence Manor
6      Queen's Park      M7A      Queen's Park
7         Etobicoke      M9A  Islington Avenue
8       Scarborough      M1B             Rouge
9       Scarborough      M1B           Malvern

<B>More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.<B>

In [31]:
T_neigh_df_clean_concat = T_neigh_df_clean.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
T_neigh_df_clean_concat

    Postcode      Borough                                      Neighbourhood
0        M1B  Scarborough                                     Rouge, Malvern
1        M1C  Scarborough             Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough                  Guildwood, Morningside, West Hill
3        M1G  Scarborough                                             Woburn
4        M1H  Scarborough                                          Cedarbrae
..       ...          ...                                                ...
98       M9N         York                                             Weston
99       M9P    Etobicoke                                          Westmount
100      M9R    Etobicoke  Kingsview Village, Martin Grove Gardens, Richv...
101      M9V    Etobicoke  Albion Gardens, Beaumond Heights, Humbergate, ...
102      M9W    Etobicoke                                          Northwest

[103 rows x 3 columns]

In [27]:
T_neigh_df_clean_concat.shape

(103, 3)

<B> *************This Ends the first part of the homework******************</B>

In [33]:
# Reading Geo codes using CSV

toronto_geocodes = pd.read_csv('http://cocl.us/Geospatial_data')
toronto_geocodes

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]